@font-face {
  font-family: "APERCU";
  src: url("../../Assets/Fonts/Apercu/Apercu-Regular.otf");
  font-style: normal;
  font-weight: normal;
  letter-spacing: -5px;
}

.elemento-con-texto {
  width: 400px;
  height: 3px;
  background-color: lightblue;
  text-align: start;
  line-height: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 3%;
}

.elemento-con-texto:hover {
  overflow: visible;
}

.elementosHover {
  text-align: start;
  line-height: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.elementosHover:hover {
  overflow: visible;
}

.ActoContainerBlue {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
  overflow: hidden;
  position: relative;
  left: 15rem;
}

.ActoContainerBlue:hover {
  overflow: visible;
}
