@keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(100% - 70px)); /* El 70px es el tamaño del círculo grande */
    }
    100% {
      transform: translateX(calc(100% - 70px));
    }
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-50px); /* El 50px es el tamaño del círculo pequeño */
    }
    100% {
      transform: translateX(-50px);
    }
  }

  .circle-50 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    animation: moveRight 10s linear infinite; /* Puedes ajustar la duración según tus necesidades */
  }

  .circle-70 {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
    animation: moveLeft 10s linear infinite; /* Puedes ajustar la duración según tus necesidades */
  }




